
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add new card</h4>
		<button type="button" class="btn-close" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<form class="form-inline" action="/action_page.php">
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						<label for="card-no">Card number:</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="cvv">CVV:</label>
						<input type="text" class="form-control">
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						<label for="name">Name on the card:</label>
						<input type="text" class="form-control">
					  </div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="expiry">Expiry:</label>
						<input type="text" class="form-control">
					</div>
				</div>

			</div>
			
			
			
			
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" >Save card</button>
		<button type="button" class="btn btn-outline-dark" >Cancel</button>
	</div>