




<div class="row">
    <div class="col-lg-3 text-end">
        <img src="assets/customer/images/model-1.png" class="model-1">
    </div>
    <div class="col-lg-9">
        <div class="speech-bubble">
            <h3 class="title">Let’s start off by verifying your personal information.</h3>
            <p class="sub-title">
                This is the contact information that we already have on file for you. It's what well use whenever we
                need to contact you about your account.<br>
                If any of the information below is missing or incorrect, please make the appropriate changes.<br>
                Once everything is correct, click the <span>"SAVE & NEXT"</span> button.
            </p>
        </div>
        <div class="cont-wrapper">
            <div class="content-body mt-5">
                <div class="page">
                   <!-- <div class="row text-end">
    <div class="col-md-12 clear-form-btn">CLEAR FORM</div>
</div> -->




<form>
    <div class="form-group">
        <label class="form-label">First Name</label>
        <input type="text" class="form-input">
    </div>
    <div class="form-group">
        <label class="form-label">Phone</label>
        <input type="text" class="form-input">
    </div>
    <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" class="form-input">
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-label">City</label>
                <input type="text" class="form-input">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-label">Street</label>
                <input type="text" class="form-input">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-label">State</label>
                <input type="text" class="form-input">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-label">Zip Code</label>
                <input type="text" class="form-input">
            </div>
        </div>
    </div>
    <!-- <div class="form-group mt-2 mb-4">
        <input type="checkbox" class="form-checkbox">
        <p class="from-agreement">Accept <span>‘Terms & conditions agreement’</span></p>
    </div> -->
    
</form>



                </div>
            </div>
            <div class="container-footer-design" style="margin: auto;"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-end">
        <button  class="exit mt-3">Save & Exit</button>
        <button  class="next mt-3 ms-2" (click)="goToNext()">Save & Next</button>
    </div>
</div>