<div class="row">
    <div class="col-lg-3 text-end">
        <img src="assets/customer/images/model-3.png" class="model-1">
    </div>
    <div class="col-lg-9">
        <div class="speech-bubble">
            <h3 class="title">Welcome to Rocktomic</h3>
            <p class="sub-title">
                 This is the contact information that we already have on file for you. It's what well use whenever we need to contact you about your account.<br>
                I'm here to help you set up your account quickly and easily. Don't worry, I'll be here to guide you every step of the way.<br>
                When you're ready to move forward, please click the "SAVE & NEXT" button below.<br>
                <span>To get started, please watch the short introduction video below.</span>
            </p>
        </div>  
        <div class="cont-wrapper">
        <div class="introduction-container">

           <div class="col-lg-12 wrapper-content-heading">
            <h3 class="">Step 1</h3>
            <p> Welcome to Rocktomic Labs! We are excited to have you as a new partner</p>
            <div class="video-section">
                <img src="assets/customer/images/video.png" class="w-100">
            </div>
           </div>
        </div>
        <div class="container-footer-design" style="margin: auto;"></div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-end">
        <button  class="exit mt-3">Save & Exit</button>
        <button  class="next mt-3 ms-2"  (click)="gotoIntroduction()">Save & Next</button>
    </div>
</div>