<div class="row">
  <div class="col-lg-3 text-end">
    <img src="assets/customer/images/model-4.png" class="model-1">
  </div>
  <div class="col-lg-9">
    <div class="speech-bubble">
      <h3 class="title"> Step 1 Consultation Appointment</h3>
      <p class="sub-title">
        In this step you have to choose your time zone and desire time slot available for
        the product consultation, then click on the “CONTINUE”
        button below to move to the next step.
      </p>
    </div>

    <div class="cont-wrapper">
      <div class="content-body mt-5 p-0">
        <h5 class="appo-heading">Appointment for:</h5>
        <div class="appo-content">Product Selection Consultation</div>
        <h5 class="appo-heading">Select Time Zone:</h5>
        <div class="appo-content">
          <select class="appo-time">
            <option>(GMT+5:30) India Standard Time</option>
          </select>
        </div>
        <h5 class="appo-heading">Select Time Slot:</h5>
        <div class="appo-content">
          <div class="row">
            <div class="col-lg-2">
              <div class="cont-wrapper-appo">
                <p class="event-time">NEXT WEEK</p>
                  <p class="weak-name">Friday</p>
                  <p class="month-name">January 6</p>
                  <button class="appo-btn">2:30am</button>
              </div>
             </div>
            <div class="col-lg-2">
              <div class="cont-wrapper-appo">
                <p class="event-time">NEXT WEEK</p>
                  <p class="weak-name">Friday</p>
                  <p class="month-name">January 6</p>
                  <button class="appo-btn">2:30am</button>
              </div>
            </div>
            <div class="col-lg-2"><div class="cont-wrapper-appo active-box">
                <p class="event-time">NEXT WEEK</p>
                  <p class="weak-name">Friday</p>
                  <p class="month-name">January 6</p>
                  <button class="appo-btn">2:30am</button>
              </div></div>
            <div class="col-lg-2"><div class="cont-wrapper-appo">
                <p class="event-time">NEXT WEEK</p>
                  <p class="weak-name">Friday</p>
                  <p class="month-name">January 6</p>
                  <button class="appo-btn">2:30am</button>
              </div></div>
            <div class="col-lg-2"><div class="cont-wrapper-appo">
                <p class="event-time">NEXT WEEK</p>
                  <p class="weak-name">Friday</p>
                  <p class="month-name">January 6</p>
                  <button class="appo-btn">2:30am</button>
              </div></div>
            <div class="col-lg-2"><div class="cont-wrapper-appo">
                <p class="event-time">NEXT WEEK</p>
                  <p class="weak-name">Friday</p>
                  <p class="month-name">January 6</p>
                  <button class="appo-btn">2:30am</button>
              </div></div>
            
          </div>
        </div>
      
      </div>
      <div class="container-footer-design" style="margin: auto;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-end">
    <button class="exit mt-3" (click)="goToNext()">Save & Exit</button>
    <button class="next mt-3 ms-2" (click)="goToNext()">Continue</button>
   
    

  </div>
</div>