<div class="row">
  <div class="col-lg-3 text-end">
    <img src="assets/images/model-1.png" class="model-1">
  </div>
  <div class="col-lg-9">
    <div class="speech-bubble">
      <h3 class="title">Here you have our stock SKU list</h3>
      <p class="sub-title">
        You can select multiple SKU from this list or you can filter your desired SKU’s from the list.
        You can see your SKU limit at the top. If you need to add more SKU than your limit,you can purchase them.
      </p>
    </div>


    <div class="cont-wrapper">
      <div class="content-body mt-5 p-0">

        <div class="appo-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="sku-content">
                <select class="w-100">
                  <option>All Category</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 text-end">
              <div class="sku-content">
                <p class="m-0 mt-2">0 out of 3 product selected</p>
              </div>
            </div>
          </div>
          <h5 class="sku-heading">Weight Loss & Detox</h5>

          <div class="sku-content">
            <div class="row">
              <div class="col-lg-4">
                <div class="cont-wrapper-appo">
                  <img src="assets/images/sku-list.png" class="">
                  <div class="sku-content-wrapper">
                    <p class="sku-content-wrapper-bold">Best Sellers Blend </p>
                    <p>SKU: <span class="blue-color-txt sku-content-wrapper-bold">ROC105</span></p>
                    <p>PLDS Wholesale</p>
                    <p>Price Per Unit:<span class="sku-content-wrapper-bold">$8.47</span></p>
                    <p>MOQ:<span class="sku-content-wrapper-bold">Not Needed</span></p>
                    <p><a href="">More Details</a> </p>
                  </div>
                  <div class="terms-check">
                    <!-- <input type="checkbox"/> I accept the Terms & Conditions Agreement -->
                    <input type="checkbox" id="test1">
                    <label for="test1"></label>

                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cont-wrapper-appo">
                  <img src="assets/images/sku-list.png" class="">
                  <div class="sku-content-wrapper">
                    <p class="sku-content-wrapper-bold">Best Sellers Blend </p>
                    <p>SKU: <span class="blue-color-txt sku-content-wrapper-bold">ROC105</span></p>
                    <p>PLDS Wholesale</p>
                    <p>Price Per Unit:<span class="sku-content-wrapper-bold">$8.47</span></p>
                    <p>MOQ:<span class="sku-content-wrapper-bold">Not Needed</span></p>
                    <p><a href="">More Details</a> </p>
                  </div>
                  <div class="terms-check">
                    <!-- <input type="checkbox"/> I accept the Terms & Conditions Agreement -->
                    <input type="checkbox" id="test2">
                    <label for="test2"></label>

                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="cont-wrapper-appo">
                  <img src="assets/images/sku-list.png" class="">
                  <div class="sku-content-wrapper">
                    <p class="sku-content-wrapper-bold">Best Sellers Blend </p>
                    <p>SKU: <span class="blue-color-txt sku-content-wrapper-bold">ROC105</span></p>
                    <p>PLDS Wholesale</p>
                    <p>Price Per Unit:<span class="sku-content-wrapper-bold">$8.47</span></p>
                    <p>MOQ:<span class="sku-content-wrapper-bold">Not Needed</span></p>
                    <p><a href="">More Details</a> </p>
                  </div>

                  <div class="terms-check">
                    <!-- <input type="checkbox"/> I accept the Terms & Conditions Agreement -->
                    <input type="checkbox" id="test3">
                    <label for="test3"></label>


                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="container-footer-design" style="margin: auto;"></div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-end">
    <button class="exit mt-3" (click)="savePopup()">Save & Exit</button> &nbsp;
    <!-- pop up will be show on save & exit button -->
    <button class="exit mt-3" (click)="goPaymentPopup() ">Go to payment</button> &nbsp;
    <!-- design go payment popup here -->
    <button class="exit mt-3" (click)="goToNext()" (click)="savePopup()">Save & Next</button>
  </div>
</div>