.sku-content{ padding: 15px;}

.sku-heading{
    background: #DBDFE3;
    font-size: 18px;
    font-weight: 600;
    color: #3D3D3D;
    padding: 15px 15px;
    margin: 0;
    text-align: center;
}



.cont-wrapper-appo{ width: 100%; border: 2px solid #C2C2C2; min-height: 118px; text-align: center; padding: 5px; position: relative;}
.sku-content-wrapper{ text-align: left; padding: 15px;}
.sku-content p{ margin-bottom: 0; }

.sku-content-wrapper p span{ float: right;}
.sku-content-wrapper-bold{color: #3D3D3D; font-size: 13px; font-weight: 600 !important;}
.sku-content-wrapper p{color: #3D3D3D; font-size: 12px; font-weight: 500;}
.blue-color-txt{ color: #4877C6;}
.sku-content-wrapper p a{color: #4877C6; font-weight: bold; text-decoration: none;}
.sku-content select{ border: 2px solid #264579; border-radius: 5px; height: 36px; }
.sku-content select option{color: #264579;}




.exit{
  
    color: white;
    background-color: transparent;border: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    padding:15px 20px;
  
  }
  
  .next{
    color: white;
    background-color: #264579;border: none;
    border: 1px solid #264579;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    padding:15px 20px;
  }


  .terms-wrapper h2{ font-size: 18px; font-weight: 500; margin-bottom: 20px;}
  .terms-wrapper p{ font-size: 16px; font-weight: 400; margin-bottom: 20px;}
  .terms-check{ position: absolute; top: 0;}

  [type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 42px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  top: -13px;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #A5A5A5;
  background:none;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #4877C6;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
