<div class="row">
  <div class="col-lg-3 text-end">
    <img src="assets/customer/images/model-3.png" class="model-1">
  </div>
  <div class="col-lg-9">
    <div class="speech-bubble">
      <h3 class="title"> Step 3 Confirmation</h3>
      <p class="sub-title">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Click to “SAVE & NEXT” confirm
        this step.
        You also can CANCEL or RESCHEDULE the appointment.
      </p>
    </div>

   
    <div class="cont-wrapper">
      <div class="content-body mt-5 p-0">
        <h5 class="appo-heading">Appointment for:</h5>
        <div class="appo-content">
          <div class="row">
            <p>Product Selection Consultation</p>
            <h3 class="appo-head">Thursday, January 12, 2023 <br>
              12:30am IST</h3>
              <div class="stp-3-btn mt-4 mb-4">
                <button class="mr-2">Add to Ical/ outlook</button>
                <button>Add to google</button>
              </div>
          </div>
          <div class="row mt-3 mb-5">
            <div class="col-lg-12 text-center">
              <div class="purchase d-inline">
                <button>
                  <img src="assets/customer/images/reload.png"><span>Reschedule Appointment</span>
                </button>
              </div>
              <div class="skip d-inline">
                <button (click)="cancelAppointment()">
                  <img src="assets/customer/images/cross.png"><span>Cancel Appointment</span></button>
                </div>
              </div>
            </div>


        </div>
       
       
      </div>
      <div class="container-footer-design" style="margin: auto;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-end">
    <button class="exit mt-3" (click)="goToNext()">Save & Exit</button>
  </div>
</div>
