#login{
    background-color: #F57373;
    height: 100vh;
    // margin-top: 15%;
}

.alert-light-danger {
    background-color: #FEEFD0 !important;
    color: #F55252  !important;
    border-color: #FEEFD0;
  }
  
  
  .bgimg{
    // background: url(bg.jpg) no-repeat right bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;}
  
    .auth-page .auth-img .auth-img-bg {
      background-color: transparent;
  }
  
  .custButton{  color: #fff !important;
    background-color: #50c6c1;
    border-color: #50c6c1;
   }
  
   h4.mb-2.card-title {
    font-size: 24px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 0;}
  
    .auth-page .auth-img .auth-img-bg{background-color: transparent;}
  