.footer-part {
    background: #DBDFE3
}

.footer-part p {
    margin: 0;
    padding: 15px 0
}

.footer-text {

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #7D7A7A;
}