
<div class="row">
    <div class="col-lg-3 text-end">
        <img src="assets/customer/images/model-3.png" class="model-1">
    </div>
    <div class="col-lg-9">
        <div class="speech-bubble">
            <h3 class="title">  Forward with your payment for Consultaion. </h3><p class="sub-title">
                You have to make the payment to go further in the steps.
            </p>
        </div>
        <div class="cont-wrapper">
            <div class="content-body mt-5">
                <div class="page">
                    
                    <div class="row payment-section">
                        <div class="col-lg-7">
                            <h4>Summary</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>Item Details</th>
                                    <th>Unit</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Product  Consultation Fee</td>
                                        <td>1</td>
                                        <td>$15.00</td>
                                    </tr>
                                    <tr>
                                        <td>Product  Consultation Fee</td>
                                        <td>1</td>
                                        <td>$15.00</td>
                                    </tr>
                                    <tr>
                                        <td>Product  Consultation Fee</td>
                                        <td>1</td>
                                        <td>$15.00</td>
                                    </tr>
                                    <tr>
                                        <td><span class="big-txt-table">Total</span> </td>
                                        <td></td>
                                        <td><span class="big-txt-table">$15.00</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="next mt-3 w-90 m-auto d-block">Pay Now</button>
                        </div>
                        <div class="col-lg-5 payment-section2">
                            <h4>Payment Method</h4>

                            <table class="table">
                               
                                <tbody>
                                    <tr>
                                        <td width="30"><input type="radio" class="form-check-input margin-little"></td>
                                        <td><span class="credit-txt">Credit or Debit Card</span> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Card Number<span class="float-end"><img src="assets/customer/images/visa.png"></span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="text" placeholder="XXXX XXXX XXXX 5723" class="w-100 payment-input" ></td>
                                        
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p>Card Holder Name</p>
                                            <p class="holder-name">DAVID Alexender</p>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td colspan="2"><button class="next mt-3 w-90 m-auto d-block" (click)=" addNewCardOpen()"><img src="assets/customer/images/pay.png" class="mr-2"> add a new card</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                             
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-footer-design" style="margin: auto;"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-end">
        <button class="exit mt-3">Cancle</button>
        <button class="next mt-3 ms-2" (click)="goToNext()">Save & Exit</button>
    </div>
</div>
