
<div class="row">
    <div class="col-lg-3 text-end">
      <img src="assets/images/model-4.png" class="model-3">
    </div>
    <div class="col-lg-9">
      <div class="speech-bubble">
        <h3 class="title">Here you can give details of your selected SKU’s</h3>
        <p class="sub-title">
            quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
             consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
              molestiae consequatur
      </div>
      <div class="cont-wrapper">
        <div class="content-body mt-5 p-0">
          
          <div class="row">
            <div class="col-lg-6">
              <div class="sku-content">
                <p class="m-0 mt-2 ml-3 blue-txt">Standalone SKUs</p>
                
              </div>
            </div>
            <div class="col-lg-6 text-end">
              <div class="sku-content">
                <p class="m-0 mt-2">3 out of 3 product selected</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">SKU</th>
                    <th class="text-center">Wholesale Price Per Unit</th>
                    <th class="text-center">MOQ</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr valign="middle">
                    <td><img src="assets/images/table-img.png" class="mx-3"> African Mango “Ultra Burn” Drops
                    </td>
                    <td class="text-center"><span class="blue-txt">ROC121</span></td>
                    <td class="text-center">$7.97</td>
                    <td class="text-center">15 units</td>
                   
                  </tr>
                 
                 
                </tbody>
              </table>

            </div>
<div class="frm-container">
            <form>
              <div class="form-group">
                  <label class="form-label">SKU Name</label>
                  <input type="text" class="form-input" placeholder="e.g.  250">
              </div>
              <div class="form-group">
                <label class="form-label w-100">SKU Description <div class="float-end">(200 words)</div></label>
                
                <textarea class="form-input" cols="20"></textarea>
            </div>
              <div class="form-group">
                <label class="form-label w-100">SKU Price <div class="float-end"><img src="assets/images/calculator.png" class="mx-2">Cost Vs Profit Calculator</div></label>
                  <input type="text" class="form-input" placeholder="$  00.00">
              </div>
              
          
             
              </form>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">SKU</th>
                    <th class="text-center">Wholesale Price Per Unit</th>
                    <th class="text-center">MOQ</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr valign="middle">
                    <td><img src="assets/images/table-img.png" class="mx-3"> African Mango “Ultra Burn” Drops
                    </td>
                    <td class="text-center"><span class="blue-txt">ROC121</span></td>
                    <td class="text-center">$7.97</td>
                    <td class="text-center">15 units</td>
                   
                  </tr>
                 
                 
                </tbody>
              </table>

            </div>
<div class="frm-container">
            <form>
              <div class="form-group">
                  <label class="form-label">SKU Name</label>
                  <input type="text" class="form-input" placeholder="e.g.  250">
              </div>
              <div class="form-group">
                <label class="form-label w-100">SKU Description <div class="float-end">(200 words)</div></label>
                
                <textarea class="form-input" cols="20"></textarea>
            </div>
              <div class="form-group">
                <label class="form-label w-100">SKU Price <div class="float-end"><img src="assets/images/calculator.png" class="mx-2">Cost Vs Profit Calculator</div></label>
                  <input type="text" class="form-input" placeholder="$  00.00">
              </div>
              
          
             
              </form>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Product Name</th>
                  <th class="text-center">SKU</th>
                  <th class="text-center">Wholesale Price Per Unit</th>
                  <th class="text-center">MOQ</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr valign="middle">
                  <td><img src="assets/images/table-img.png" class="mx-3"> African Mango “Ultra Burn” Drops
                  </td>
                  <td class="text-center"><span class="blue-txt">ROC121</span></td>
                  <td class="text-center">$7.97</td>
                  <td class="text-center">15 units</td>
                 
                </tr>
               
               
              </tbody>
            </table>

          </div>
<div class="frm-container">
          <form>
            <div class="form-group">
                <label class="form-label">SKU Name</label>
                <input type="text" class="form-input" placeholder="e.g.  250">
            </div>
            <div class="form-group">
              <label class="form-label w-100">SKU Description <div class="float-end">(200 words)</div></label>
              
              <textarea class="form-input" cols="20"></textarea>
          </div>
            <div class="form-group">
              <label class="form-label w-100">SKU Price <div class="float-end"><img src="assets/images/calculator.png" class="mx-2">Cost Vs Profit Calculator</div></label>
                <input type="text" class="form-input" placeholder="$  00.00">
            </div>
            
        
           
            </form>
        </div>
      </div>
      </div>

          <!-- <div class="row mt-3">
            <div class="col-lg-12 text-center mb-4">
              <div class="purchase d-inline"><button><img src="assets/images/thump-up.png"><span>SKU selection are OK</span></button></div>
              <div class="skip d-inline"><button><img src="assets/images/thump-down.png"><span>NO, I need Select SKU again</span></button></div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div> -->
         
        </div>
        <div class="container-footer-design" style="margin: auto;"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12 text-end">
      <button class="exit mt-3" (click)="congratulationPopup()">Save & Exit</button> &nbsp;    <!-- congratulation popup -->
      <button class="exit mt-3" (click)="goToNext()">Save & Next</button>
    </div>
  </div>