<div class="row">
    <div class="col-lg-3 text-end">
      <img src="assets/customer/images/model-2.png" class="model-1">
    </div>
    <div class="col-lg-9">
      <div class="speech-bubble">
        <h3 class="title">  Well it’s seems that you have complete the consultation process</h3>
        <p class="sub-title">
           
            Now select SKU from our Stock SKU or you can even create a custom formula or you can use stock SKU and create custom formula both together.
        </p>
      </div>
  
      
    <div class="cont-wrapper">
      <div class="content-body mt-5">
        
        <div class="appo-content">
        
          <div class="row sku-btn-part mt-5">
            <div class="col-lg-6 m-auto">
              <button class="d-block whitebase whitebase-active"><span >Individual Products</span></button>
            </div>
          </div>

          <div class="row sku-btn-part mt-4">
            <div class="col-lg-6 m-auto">
              <button class="d-block whitebase"><span >AS A Bundle of Products</span></button>
            </div>
          </div>

          <div class="row sku-btn-part mt-4 mb-5">
            <div class="col-lg-6 m-auto">
              <button class="d-block whitebase"><span >Both Individual & Bundle of products</span></button>
            </div>
          </div>
          


        </div>
       
       
      </div>
      <div class="container-footer-design" style="margin: auto;"></div>
    </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12 text-end">
      <button class="exit mt-3" (click)="goToNext()">Save & Exit</button>
    </div>
  </div>